
@import url(https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;500;700&family=Poppins:wght@100;600;800&display=swap);
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins';
    background: white;
}

#containner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 90%;
    background: url("images/bg-intro-desktop.png") hsl(0, 100%, 74%);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 100%;
}

.left {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
}

.small-containner {
    width: 90%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right{
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.write {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 80%;
    background: white;
    border: none;
    border-radius: .4em;
    box-shadow: 0px 8px 2px  hsl(245, 6%, 66%,0.5);
}

.tete {
    width: 80%;
    height: 10%;
    border:none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color:white;
    border-radius: .4em;
    box-shadow: 0px 8px 2px  hsl(245, 6%, 66%,0.299);
    background:  hsl(248, 32%, 49%)  ;
}

button{
    width: 69%;
    height:12%;
    border: none;
    color: white;
    border-radius: .3em;
}

input {
    width: 85%;
    height: 40px;
    border-radius: .3em;
    color: white;
    border:.5px solid rgb(219, 212, 212);
}

h6{
    text-align: left;
}

.vvv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80%;
}

p {
    text-align: center;
    font-size: 12px;
    color:hsl(0,8,84);
    filter:saturate(2);
}

b {
    color: hsl(0, 100%, 74%);
}
.fff {
    background:hsl(154, 59%, 51%) ;
    cursor: pointer;
    transition: .4s;
}

.fff:hover {
    transform: scale(1.004);
    box-shadow: 0px 4px 2px  hsl(245, 6%, 66%,0.3);
}
h1 {
    font-weight: 800;
}
.lelo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    width: 85%;
}


@media screen and (max-width:794px){
    body {
        display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family:sans-serif ;
    background: white;
    }

    #containner{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        height: 90%;
        background: url("images/bg-intro-desktop.png") hsl(0, 100%, 74%);
        background-blend-mode: multiply;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .left {
        height: 30%;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        justify-content: center;
    }

    .small-containner {
        width: 90%;
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    h1 {
        text-align: center;
    }
    h6 {
        text-align: center;
        width: 100%;
    }

}